# 第九次课后练习

**负责助教：胡天成**

<span style="color:red; font-weight:bold;">请将作业文件命名为 第九次课后练习+姓名+学号.ipynb, 例如 第九次课后练习+张三+1000000000.ipynb</span>

<span style="color:red; font-weight:bold;">在作业过程中觉得有心得或者自己拓展学习到有价值内容的，可以在文件名最后加一个#号。例如第九次课后练习+张三+1000000000+#.ipynb</span>

# 第零部分 代码理解

请认真阅读代码，理解代码的功能，先写出预想的结果。运行并检验结果是否如预期。如果不如预期，请分析理解其中的原因

`pandas.Series`和`pandas.DataFrame`部分操作和用法比较反直觉，与已学过的`numpy.array`、Python内置的列表、字典会有区别，并且部分方法的行为与`pandas`版本也相关，在使用时如果不确定某种操作的行为，在查询[文档](https://pandas.pydata.org/docs/index.html)时务必注意选择对应自己安装的版本

本次出题使用的环境为Python 3.12.2，pandas 2.2.3

## **0.1** `pandas.Series`基本操作

In [ ]:
import pandas as pd
import numpy as np
print(pd.__version__)   # 查看pandas版本

**创建`Series`**

In [ ]:
data = [1, 2, 3, 4]
series = pd.Series(data)
print(series.index)
print(series.dtype)
print(series.index.dtype)

In [ ]:
data = [1, 2, 3, 4]
index = ['a', 'b', 'c', 'd']
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

In [ ]:
data = [1, 2, 3, 4]
index = pd.Index(['a', 'b', 'c', 'd'], dtype=str)
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

In [ ]:
data = [1, 2, 3, 4]
index = pd.Index(['a', 'b', 'c', 'd'], dtype="string")
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

In [ ]:
data = [1, 2, 3, 4]
index = pd.Index([None, 2, 3, 4], dtype=str)
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

In [ ]:
data = [1, 2, 3, 4]
index = pd.Index([None, 2, 3, 4], dtype="string")
series = pd.Series(data, index=index)
print(series.index)
print(series.index.dtype)

In [ ]:
data = [1, 2, None, 4]
series = pd.Series(data)
print(series.dtype)

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
index = ['a', 'b']
series = pd.Series(data, index=index)
print(series)
print(series.dtype)

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
index = ['a', 'b', 'x', 'y']
series = pd.Series(data, index=index, dtype=int)
print(series)
print(series.dtype)

**访问`Series`的元素**

In [ ]:
data = {1:0, 2:1, 0:3}
series = pd.Series(data)
print(series[0])

In [ ]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series['a'])
print(series[0])

In [ ]:
data = {1:0, 3:1}
series = pd.Series(data)
print(series[0])

In [ ]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series[0:1])
print(series[1:0:-1])
print(series['a':'b'])
print(series['b':'a':-1])

In [ ]:
data = {'a':0, 'b':1, 'c':3}
series = pd.Series(data)
print(series[[True, False, True]])

In [ ]:
data = {True:0, False:1}
series = pd.Series(data)
print(series[True])
print(series[False])
print(series[[False, True]])

通过以上例子，相信你已经认识到了直接使用方括号`[]`访问`Series`元素的易混淆性，因此在使用`pandas.Series`时，建议使用`loc`或`iloc`

In [ ]:
series = pd.Series(data=[2, 1], index=[1, 2])
print(series.loc[1])
print(series.iloc[1])

In [ ]:
data = {True:0, False:1}
series = pd.Series(data)
print(series.loc[True])
print(series.loc[[False, True]])
print(series.iloc[0])
print(series.iloc[[False, True]])

In [ ]:
data = {True:0, False:1}
series = pd.Series(data)
print(series.reindex([False, True]))

**`Series`与`dict`**

In [ ]:
index = [1, 2, 3, 3]
data = ['a', 'b', 'c', 'd']
data_dict = dict(zip(index, data))
series = pd.Series(data, index=index)

print(len(data_dict))
print(len(series))

print(list(data_dict))
print(list(series))

print(1 in data_dict, 'a' in data_dict)
print(1 in series, 'a' in series)

**`Series`的运算**

In [ ]:
a = pd.Series([1, 1], index=['b', 'c'])
b = pd.Series([1, 1, None], index=['a', 'b', 'e'])
print(a + b)
print(a.add(b, fill_value=0))

In [ ]:
a = pd.Series([1, 2, 3, 4, 5, 6], 
              index=['b', 'b', 'b', 'c', 'c', 'd'])
b = 1j * pd.Series([6, 5, 4, 3, 2, 1], 
              index=['b', 'c', 'c', 'd', 'd', 'd'])

display(a + b)

## **0.2** `pandas.DataFrame`基本操作

**注**：可以使用`Ipython`中的函数`display`而非`print`来显示`DataFrame`，以获得更好的呈现效果

In [48]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
print(df)
display(df)

     A    B
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0

     A    B
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0

**`DataFrame`的创建**

判断以下哪些情况能成功创建`DataFrame`，哪些会报错。如果能创建成功，预测`DataFrame`的内容

In [ ]:
df = pd.DataFrame({'A': 1, 'B': 3})
display(df)

In [ ]:
df = pd.DataFrame({'A': [1], 'B': [3]})
display(df)

In [ ]:
df = pd.DataFrame({'A': [1, 2], 'B': 3})
display(df)

In [ ]:
df = pd.DataFrame([[1, 2], 3])
display(df)

In [ ]:
df = pd.DataFrame({'A': [1, 1], 'B': [3, 3, 3]})
display(df)

In [ ]:
data = {'A': [1,2], 'B': [3,4]}
df = pd.DataFrame(data, columns=['X', 'Y'])
display(df)

In [ ]:
data = {'A': [1,2], 'B': [3,4]}
df = pd.DataFrame(data, index=['X', 'Y'])
display(df)

**`DataFrame`的访问**

判断以下对`DataFrame`元素的访问是否会报错，如果不会报错，预测结果的内容和类型（`DataFrame`、`Series`还是一个元素）

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], index=['a','b'])
display(df)
display(df['a'])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df)
display(df['a'])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']][1])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[['a']].iloc[1])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'], index=['b', 'a'])
display(df)
display(df.loc['a', 'b'])
display(df['a'].loc['b'])
display(df.iloc[0, 1])
display(df.iloc[0].iloc[1])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
mask = df > 1
display(df[mask])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[[True, False]])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df[:, [False, True]])

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
display(df.loc[:, [False, True]])

**`DataFrame`运算**

In [ ]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[1, 2])
display(df1 + df2)
display(df1.values + df2.values)

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
s = pd.Series([10, 20], index=['A', 'B'])
display(df + s)

In [ ]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
display(df + df.T)
display(df.add(df.T, fill_value=0))

**`DataFrame`其他操作**

In [ ]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
display(df.drop(0))

In [ ]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
df.drop('A', axis=1, inplace=True)
display(df)

In [ ]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
display(df.drop('A'))

In [ ]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
display(df.sum())

In [ ]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
result = df.apply(lambda x: x.max() - x.min())
display(result)

In [ ]:
df = pd.DataFrame({'A': [1,2], 'B': [3,4]})
result = df.apply(lambda x: x.max() - x.min(), axis=1)
display(result)

In [ ]:
df = pd.DataFrame({'A': [1, None, 3], 'B': [None, 5, 6]})
display(df.cumsum())
display(df.cumsum(skipna=False))

## **0.3** 表连接

In [8]:
index1 = pd.Index(['A', 'B', 'C'])
index2 = pd.Index(['B', 'C', 'D'])

# 交集（共同存在的元素）
print(index1.intersection(index2)) 

# 并集（所有唯一元素）
print(index1.union(index2))        

# 对称差集（仅存在于一个索引中的元素）
print(index1.symmetric_difference(index2))

Index(['B', 'C'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['A', 'D'], dtype='object')

In [14]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=['X', 'Y'])
df2 = pd.DataFrame({'B': [5, 6], 'C': [7, 8]}, index=['Y', 'Z'])

print(df1)
print(df2)

print("--------------------")
combined_df = pd.concat([df1, df2], axis=0)

combined_df_reset = pd.concat([df1, df2], ignore_index=True)

print(combined_df)
print(combined_df_reset)

   A  B
X  1  3
Y  2  4
   B  C
Y  5  7
Z  6  8
--------------------
     A  B    C
X  1.0  3  NaN
Y  2.0  4  NaN
Y  NaN  5  7.0
Z  NaN  6  8.0
     A  B    C
0  1.0  3  NaN
1  2.0  4  NaN
2  NaN  5  7.0
3  NaN  6  8.0

In [15]:
df1 = pd.DataFrame({  
    'ID': [101, 102, 103],  
    'Name': ['Alice', 'Bob', 'Charlie'],  
    'Dept': ['HR', 'Tech', 'Finance']  
})  

df2 = pd.DataFrame({  
    'ID': [102, 103, 104],  
    'Name': ['Bob', 'Charlie', 'David'],  
    'Salary': [5000, 6000, 4500]  
})  

# 合并操作  
result_inner = pd.merge(df1, df2, on='ID', how='inner')  
result_outer = pd.merge(df1, df2, on='ID', how='outer')  
result_left = pd.merge(df1, df2, on='ID', how='left', suffixes=('_左', '_右'))

print(result_inner)
print(result_outer)
print(result_left)

    ID   Name_x     Dept   Name_y  Salary
0  102      Bob     Tech      Bob    5000
1  103  Charlie  Finance  Charlie    6000
    ID   Name_x     Dept   Name_y  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0
3  104      NaN      NaN    David  4500.0
    ID   Name_左     Dept   Name_右  Salary
0  101    Alice       HR      NaN     NaN
1  102      Bob     Tech      Bob  5000.0
2  103  Charlie  Finance  Charlie  6000.0

# 第一部分 代码填充

In [1]:
import pandas as pd
import numpy as np

## **1.1** `DataFrame`基本操作

本部分已经提供了参考输出，你的代码运行结果需要与之相同

In [2]:
# 读入数据并检查基本信息
df = pd.read_csv('data.csv')
print(df.shape)
print(df.info())

(12, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        12 non-null     object
 1   age         12 non-null     int64
 2   gender      12 non-null     object
 3   height(cm)  12 non-null     int64
 4   weight(kg)  12 non-null     int64
dtypes: int64(3), object(2)
memory usage: 608.0+ bytes
None

In [29]:
# 使用head()方法查看前n行数据
display(df.head(3))

    name  age gender  height(cm)  weight(kg)
0  Alice   24      F         168          53
1    Bob   38      M         157          76
2  Carol   43      F         164          59

**Step 1.** 将行索引加1

In [ ]:
# 操作复制的数据而非原始数据
# 以免代码写错或运行多次导致原始数据被修改
df1 = df.copy()

##############################
# TODO
##############################

display(df1)

        name  age gender  height(cm)  weight(kg)
1      Alice   24      F         168          53
2        Bob   38      M         157          76
3      Carol   43      F         164          59
4       Dave   24      M         190          68
5        Eve   33      F         165          60
6    Francis   42      M         181          89
7      Grace   57      F         176          70
8       Hans   57      M         197          90
9   Isabella   36      F         170          67
10     Jason   13      M         144          38
11      Kate   53      F         164          68
12     Louis   39      M         175          59

**Step 2.** 根据身高和体重计算BMI，添加到最后一列，列名为`BMI`，计算公式为$BMI=\dfrac{weight}{height^2}$，其中体重和身高的单位分别为kg和m

In [ ]:
df2 = df1.copy()

##############################
# TODO
##############################

display(df2)

        name  age gender  height(cm)  weight(kg)        BMI
1      Alice   24      F         168          53  18.778345
2        Bob   38      M         157          76  30.832894
3      Carol   43      F         164          59  21.936347
4       Dave   24      M         190          68  18.836565
5        Eve   33      F         165          60  22.038567
6    Francis   42      M         181          89  27.166448
7      Grace   57      F         176          70  22.598140
8       Hans   57      M         197          90  23.190497
9   Isabella   36      F         170          67  23.183391
10     Jason   13      M         144          38  18.325617
11      Kate   53      F         164          68  25.282570
12     Louis   39      M         175          59  19.265306

**Step 3.** 将表按照年龄升序排列

In [ ]:
df3 = df2.copy()

##############################
# TODO
##############################

df3

        name  age gender  height(cm)  weight(kg)        BMI
1      Alice   24      F         168          53  18.778345
2        Bob   38      M         157          76  30.832894
3      Carol   43      F         164          59  21.936347
4       Dave   24      M         190          68  18.836565
5        Eve   33      F         165          60  22.038567
6    Francis   42      M         181          89  27.166448
7      Grace   57      F         176          70  22.598140
8       Hans   57      M         197          90  23.190497
9   Isabella   36      F         170          67  23.183391
10     Jason   13      M         144          38  18.325617
11      Kate   53      F         164          68  25.282570
12     Louis   39      M         175          59  19.265306

**Step 4.** 统计两种性别年龄、身高、体重、BMI的平均数，结果存储在变量`avg_df`中

In [ ]:
df4 = df3.copy()

##############################
# TODO
avg_df = ...
##############################

display(avg_df)

         age  height(cm)  weight(kg)        BMI
gender
F       41.0  167.833333   62.833333  22.302893
M       35.5  174.000000   70.000000  22.936221

**Step 5.** 将年龄划分为`'<=24'`、`'24-48'`、`'>48'`三个部分，并**在`'age'`的后一列**添加`'age_range'`列，表明年龄的所属范围

In [ ]:
df5 = df3.copy()

##############################
# TODO
##############################

display(df5)

        name  age age_range gender  height(cm)  weight(kg)        BMI
1      Alice   24      <=24      F         168          53  18.778345
2        Bob   38     24-48      M         157          76  30.832894
3      Carol   43     24-48      F         164          59  21.936347
4       Dave   24      <=24      M         190          68  18.836565
5        Eve   33     24-48      F         165          60  22.038567
6    Francis   42     24-48      M         181          89  27.166448
7      Grace   57       >48      F         176          70  22.598140
8       Hans   57       >48      M         197          90  23.190497
9   Isabella   36     24-48      F         170          67  23.183391
10     Jason   13      <=24      M         144          38  18.325617
11      Kate   53       >48      F         164          68  25.282570
12     Louis   39     24-48      M         175          59  19.265306

## **1.2** 多级索引

In [44]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(60, 100, size=(6, 3)),
                  columns=["Python", "C++", "Java"],
                  index=pd.MultiIndex.from_product(
                      [['张三', '李四', '王五'],['期中', '期末']]),
                  dtype=float)
display(df)

       Python   C++  Java
张三 期中    98.0  88.0  74.0
   期末    67.0  80.0  98.0
李四 期中    78.0  82.0  70.0
   期末    70.0  83.0  95.0
王五 期中    99.0  83.0  62.0
   期末    81.0  61.0  83.0

**Step 1.** 按期中40%，期末60%的比例计算加权后分数

In [ ]:
df1 = df.copy()

##############################
# TODO
##############################

display(df1)

       Python   C++  Java
张三 期中    39.2  35.2  29.6
   期末    40.2  48.0  58.8
李四 期中    31.2  32.8  28.0
   期末    42.0  49.8  57.0
王五 期中    39.6  33.2  24.8
   期末    48.6  36.6  49.8

**Step 2.** 对期中期末成绩求和得到每人每门课的最终成绩

In [ ]:
df2 = df1.copy()

##############################
# TODO
##############################

display(df2)

    Python   C++  Java
张三    79.4  83.2  88.4
李四    73.2  82.6  85.0
王五    88.2  69.8  74.6

**Step 3.** 计算输出每门功课的最高分，最低分，以及平均分数

In [ ]:
df3 = df2.copy()

##############################
# TODO
##############################

display(df3)

         最高分   最低分       平均分数
Python  88.2  73.2  80.266667
C++     83.2  69.8  78.533333
Java    88.4  74.6  82.666667

## **1.3** 表连接

请根据以下给出的数据表完成给定的查询操作
目标：统计2023-2024学年在校生的部门人均预算、选修课程及平均成绩，TODO：  
1. 仅保留状态为"在校"且选课年份>=入学年份的学生  
2. 关联课程成绩
2. 部门预算需按学生人数均摊计算

In [ ]:
import pandas as pd  
import numpy as np  
  
students = pd.DataFrame({  
    '学号': [101, 102, 103, 104, 105],  
    '姓名': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],  
    '部门ID': [1, 1, 2, 3, 4], 
    '状态': ['在校', '在校', '毕业', '休学', '在校'],  
    '入学年份': [2021, 2022, 2021, 2023, 2022]  
})  

departments = pd.DataFrame({  
    '部门ID': [1, 2, 3],  
    '部门名称': ['技术部', '市场部', '财务部'],  
    '年度预算（万）': [500, 300, 200]   
})  

courses = pd.DataFrame({  
    '课程ID': [201, 202, 203, 204],  
    '课程名': ['Python', 'SQL', '数据分析', '机器学习'],  
    '开课年份': [2023, 2023, 2024, 2024]  
})  

enrollments = pd.DataFrame({  
    '学号': [101, 101, 102, 104, 105, 106],   
    '课程ID': [201, 202, 201, 203, 204, 205],    
    '成绩': [85, 90, 78, np.nan, 88, 92],  
    '选课年份': [2023, 2023, 2023, 2024, 2024, 2024]  
})  

# 步骤1 
valid_students = students[students['状态'] == '在校']  
filtered_enrollments = pd.merge(  
    enrollments,  
    valid_students[['学号', '入学年份']],  
    on='学号',  
    how=________  # TODO  
).query('选课年份 >= 入学年份')  

# 步骤2 
# TODO

# 步骤3
# TODO